@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
h1{
    text-align:center;
    color: red;
}
header{
    background-color: lightblue;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
body{
    background-color: #DAF7A6  ;
}
a{
    color:maroon;
}
nav{
    text-align:center;
    color: darkred;
}
h2{
    text-align:center;
    
}
h3{
    text-align:center;
}

label{
    text-align:center;
}

img{
    text-align: center;
}