@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

h1{
    text-align:center;
    color: red;
    font-family: 'Kaushan Script', cursive;
    font-size: 30px;
}

header{
    background-color: lightblue;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    border-radius: 25px;
}
body{
    background-color: #DAF7A6  ;
    font-family: sans-serif;
    margin-left: 100px;
    margin-right: 100px;
}

a{
    color:maroon;
    text-decoration: none;
}
nav{
   
    text-align:center;
    color: darkred;
    font-family: 'Courgette', cursive;
}
h2{
    text-align:center;
    font-family: 'Merienda', cursive;
    color:brown;
    
}
h3{
    text-align:center;
    font-family: 'Merienda', cursive;
    color:green;
}


label{
    text-align:left;
    color:brown;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}
input{
    border-radius: 25px;
}

img{
   margin-left: 450px;
   margin-top: 50px;

}
footer{
    text-align: center;
    background-color: lightblue;
    border-radius: 25px;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;

}
.container{
    background-color: peachpuff;
    border-radius:25px;
    margin-left: 400px;
    margin-right: 500px;
    margin-top: 50px;
    padding-top : 20px;
    padding-bottom: 70px;
    padding-left: 50px;
    padding-right: 50px;
    border-style: solid;
    border-color: green;

 
}


#container{
    display:flex;

    margin-right: 900px;
}
p{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
    color:brown;
}
li{
    font-family: 'Nanum Gothic', sans-serif;
    color:brown;
}

button{
    border-radius: 25px;
    background-color: green;
    color:white;
    width: 200px;
    padding-left:50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;

}
.column{
    float:left;
    width:33.33%;
    padding:5px;
}

.row:after{
    content:"";
    clear:both;
    display:table;
}

#container_orderedList{
    margin-left:300px;
}
#container_unOrderedList{
    margin-left:100px;
}
#sliderAlign{
    margin-left:500px;
    margin-right:500px;
}

img{
   margin:0 auto;


}
#slider{
    margin:0;
}

.centerSlider{
  margin-left:400px;

}