@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
header{
    background-color: aqua;
}
body{
    font-family:  sans-serif;
    background-color: #BEE7E8;
    

}
p{
    text-align: center;
}

h1{
    text-align: center;
    font-family: 'Mochiy';
    color:blue;
}
h2,h3{
   text-align: center;
    color: darkblue;
   font-family: 'Mochiy'
    
}    

a{
    color: black;
    font-family: Mochiy;
}
ul{
    margin-left: 100px;
}
ol{
    margin-left: 500px;
    
}
main{
    color: blue;
}
nav{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       
}
.text-align{
    text-align: center;
}

.center{
    display: block;
    margin-left: 550px;
    margin-right: 100px;
    margin-top: 75px;
    margin-bottom: 75px;
    width: 25%
}
table{
    border: 1px solid black;
    border-collapse: collapse;
   
     
}
table th {
    text-align: left;
    border: 1px solid black;
    background-color:mediumaquamarine;

   
}

table td{
    border: 1px solid black;
    padding: 4px 8px;

}
table tr:nth-child(odd){
    background: mediumaquamarine;
}

button{
    background-color: darkblue;
    color:white;
    min-width:120px;
    margin-left: 600px;
    display: inline-block;

}
.caption{
    margin-top: 1px;
    
}
.image{
    margin-bottom: 1px;
}

input{
    background-color: darkblue;
    color:white;
    text-align: center;
    margin-left:600px;
}

.tableAlign{
   margin-left: 300px;

}
.tableAlign2{
    margin-left: 500px;
 
 }
 .polygonGenerator{
     background-color: #B3B6B7;
  
   
 }

 figcaption{
     text-align:center;
 }
 .lowerFooterMargin{
     margin-bottom: 500px;
 }
 
 /* everything below is for the calculator*/
 
.container{
    max-width:20em;
}
.container>p{
    text-align:center;

}
.calculator{
    border: radius 12px;box-shadow: 0 0 40px 0px rgba(0,0,0,0,15);
    margin-left:auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 15em;
    overflow:hidden;
}
.calculator__display{
    background-color: #222222;
    color: #fff;
    font-size:1.714285714em;
    padding:0.5em 0.75em;
    text-align: right;
    margin-left: 350px;
    margin-right: 450px;
    margin-top: 50px;

}

.calculator__keys> {
    background: color #999;
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(4,1fr);
}

.calculator__keys > * {
    background-color: #fff;
    padding: 0.5em 1.25em;
    position: relative;
    text-align: center;
}


.calculator__keys>*:active::before,
.calculator__keys > .is-depressed::before{
    background-color: rgba(0,0,0,0.5);
    bottom: 0;
    content: "";
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.5);
     content: "";
     left: 0;
     opacity: 0.3;
     position: absolute;
     right: 0;
     top: 0;
     z-index: 1;



}

.key--operator{
    background-color: #eee;
}

.key--equal{
    background-image: linear-gradient(to bottom, #fe886a, #ff7033);
    grid-column:-2;
    grid-row: 2 / span 4;

}