@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');

body{
    font-family:  sans-serif;
    
}

h1{
    text-align: center;
    font-family: 'Mochiy';
}
h2{
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

nav{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       
}
.text-align{
    text-align: center;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%
}
table{
    border: 1px solid black;
    border-collapse: collapse;
}
table th {
    text-align: left;
    border: 1px solid black;
    background-color:mediumaquamarine;
   
}

table td{
    border: 1px solid black;
    padding: 4px 8px;

}
table tr:nth-child(odd){
    background: mediumaquamarine;
}

.greyButton{
    background-color: dimgray;
}
