@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
header{
    background-color: aqua;
    font-size: 17px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
footer{
    background-color: aqua;
    text-align: center;
    font-size: 17px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
    margin-right:150px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px
}
body{
    font-family:  sans-serif;
    background-color: #BEE7E8;
    

}
.projectDesign h3{
    text-align:left;
    margin-left:200;
    margin-right:200;
}

#forms{
  
    font-family: sans-serif;
    background-color: #FDE74C;
    border-style:solid;
    margin-left:20%;
    margin-right:20%;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align:center;
    color:maroon;


}

#container{
    display:flex;
    width: 30px;
    margin-left:30%;
    margin-right:30%
}

#contains{
    display:flex;
    width: 30px;
    margin-left:1px;
    margin-right:1px;
}
p{
    text-align: left;
    color: maroon;
}

h1{
    text-align: center;
    font-family: 'Mochiy';
    color: darkred;
}
h2,h3{
   text-align: center;
    color: darkblue;
   font-family: 'Mochiy'
    
}    

a{
    color: black;
    font-family: Mochiy;
}
ul{
    margin-left: 100px;
    color:maroon;
}
ol{
    margin-left: 500px;
    color: maroon;
    
}
main{
    color: blue;
}
nav{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: darkred;
       
}

figure{
    text-align: center;
    color:darkblue;
    font-style: italic;


}

.centerImage{
    margin-left: 30%;
    margin-right: 30%
}
.tableCenter{
    margin-left: 100px;
    margin-right: 100px;
}
table{
    border: 1px solid black;
    border-collapse: collapse;
   
     
}
table th {
    text-align: left;
    border: 1px solid black;
    background-color:mediumaquamarine;

   
}

table td{
    border: 1px solid black;
    padding: 4px 8px;
    text-align:left;

}
table tr:nth-child(odd){
    background: mediumaquamarine;
}

button{
    background-color: darkblue;
    color:white;
    min-width:120px;
    margin-left: 40%;
    margin-right:40%;

}
#button1,#button2{
    display:inline-block;
}

.caption{
    margin-top: 1px;
    
}

.image{
    margin-bottom: 1px;
}




input[type = "text"]{
    background-color: darkblue;
    color:white;

    text-align: left;
    margin-top: auto;
    margin-bottom: auto;
    margin-left:  30%;
    margin-right: 30%;
  
}
.divider{
    padding-top: 30px;
    padding-bottom: 30px;
}


.tableAlign{
   margin-left: 300px;

}
.tableAlign2{
    margin-left: 500px;
 
 }
 .polygonGenerator{
     background-color: #B3B6B7;
  
   
 }

 .lowerFooterMargin{
     margin-bottom: 500px;
 }
 .alignAddSalaryButton{

    margin-top: 100px;
    margin-left: 40px;

 }
 .alignDisplayResultsButton{
    margin-top: 100px;
    margin-left: 100px;

 }
 .alignDisplaySalaryButton{
    margin-top: 100px;
    margin-left: 60px;

 }
 .valdiationButtons{
     text-decoration:none;
 }



.slideshow-Container img{
    display:none;
    width: 504px;
    height: 378px;
    
}

.slideshow-Container img.active{
    display:inline-block;
}