<header>
  <nav>
    <h1>Sexually Transmitted Diseases Clinic</h1>
    <a href = "index.html"><strong>Home</strong> |</a>
    <a href = "about.html"> <strong>About</strong>|</a>
    <a href = "contact.html"><strong>Contact</strong> |</a>
    <a href = "informationPage.html"> <strong>Information Page</strong> |</a>
    <a href = "help.html"> <strong>Help </strong>|</a>
    <a href = "prevention.html"> <strong>Prevention</strong> |</a>
    <a href = "testing.html"><strong>How to Get Tested</strong> </a>
  
 </nav>


</header>