<footer class = "text-align">
    <nav>
       <a href = "https://webpages.charlotte.edu/spyndi/"> UNCC Home Page | </a>
       <a href = "https://github.com/sashpyndi/sashpyndi.github.io"> Github Repository | </a>
       <a href = "https://sashpyndi.github.io/"> Github.IO | </a>
       <a href = "https://www.freecodecamp.org/sashpyndi"> FreeCodeCamp |  </a>
       <a href = "https://www.codecademy.com/profiles/sashpyndi"> CodeAcademy | </a>
       <a href = "https://www.linkedin.com/in/sashank-pyndi-888a681a3/"> LinkedIn </a>


    </nav>
    <h3>Created by<a href = "sashpyndiindustries.com/" >Sashankpyndi Industries</a> &copy;2022.</h3>

   
    <a href = "https://jigsaw.w3.org/css-validator/check/referer">
      <div class = "validationButtons" id = "button1">
       <img src = "images/button_validation_css.png" width = "88" height = "31"/>
      <div>
    </a>
    <a href=  "https://validator.w3.org/check?uri=referer">
      <div class = "validationButtons" id="button2">
       <img src = "images/button_validation_html5.png" width = "88" height = "31"/>
      </div>
     </a>
 
</footer>