<header>
   <h1>Sashank Pyndi  | ITIS 3135 | Salty Penguin </h1>
   <nav>
      <a href = index.html > <strong> Home | </strong></a> 
      <a href = introduction.html> <strong> Introduction |</strong> </a>
      <a href = contract.html > <strong> Contract | </strong></a>
      <a href = "https://webpages.charlotte.edu/spyndi/"> <strong> UNCC Reference Page | </strong></a>
      <a href = tables.html ><strong>Tables |</strong></a>
      <a href = forms.html ><strong>Forms |</strong></a>
      <a href = website_evaluations.html><strong> Website Evaluations |</strong></a>
      <a href = CRAPPY&Webpage.htm> <strong> CRAPPY Webpage |</strong></a>
      <a href = firstjs.html> <strong>First JS |</strong></a>
      <a href = polygon.html><strong>Polygon |</strong></a>
      <a href = calculator_try.html><strong>Calculator Try |</strong></a>
      <a href=calculator_fcc.html><strong> Calculator FCC |</strong></a>
      <a href=arrays.html><strong> Array |</strong></a>
      <a href=slideshow.html><strong>Slideshow |</strong></a>
      <a href = Activity10.html><strong>Image Swap |</strong></a>
      <a href = Activity11/Pyndi-Activity11.html><strong>Accordion |</strong></a>
      <a href = Activity12/Pyndi-Activity12.html><strong>BxSliderPlugin |</strong></a>
      <a href = Activity13/Pyndi-Activity13.html><strong>Activity13 |</strong></a>
      <a href = Activity14/Pyndi-Activity14.html><strong>Activity14 |</strong></a>
      <a href = peerReview1.html><strong>Peer Review 1 |</strong></a>
      <a href = peerReview2.html><strong>Peer Review 2 |</strong></a>
      <a href=Accessibility/Pyndi-Activity_Accessibility.html><strong>Accessibility |</strong></a>
      <a href=sashpyndiindustries.com/index.html> <strong>Brand |</strong></a>
      <a href=projectdesign.html><strong>ProjectDesign |</strong></a>
      <a href = hobby/index.html><strong>Hobby |</strong></a>
      <a href = Projects/index.html><strong>Project</strong></a>
   </nav>
</header>


