<header>
   <h1>Sashank Pyndi | ITIS 3135 | Salty Penguin </h1>
   <nav>
      <a href="index.html">Home</a> |
      <a href="introduction.html"> Introduction</a> |
      <a href="contract.html"> Contract</a> |
      <a href="https://webpages.charlotte.edu/spyndi/">UNCC Reference Page</a> |
      <a href="tables.html">Tables</a> |
      <a href="forms.html">Forms</a> |
      <a href="website_evaluations.html">Website Evaluations</a> |
      <a href="CRAPPY&Webpage.htm"> CRAPPY Webpage</a> | 
      <a href="firstjs.html">First JS</a> |
      <a href="polygon.html">Polygon </a> |
      <a href="calculator_try.html">Calculator Try</a> |
      <a href="calculator_fcc.html"> Calculator FCC</a> |
      <a href="arrays.html">Array</a> |
      <a href="slideshow.html">Slideshow</a> |
      <a href="Activity10.html">Image Swap</a>|
      <a href="Activity11/Pyndi-Activity11.html">Accordion</a> |
      <a href="Activity12/Pyndi-Activity12.html">BxSliderPlugin</a> |
      <a href="Activity13/Pyndi-Activity13.html">Activity13</a> |
      <a href="Activity14/Pyndi-Activity14.html">Activity14</a> |
      <a href="Activity15/Pyndi-Activity15.html">Activity15</a> |
      <a href="peerReview1.html">Peer Review 1</a> | 
      <a href="peerReview2.html">Peer Review 2</a> |
      <a href="Accessibility/Pyndi-Activity_Accessibility.html">Accessibility</a> |
      <a href="sashpyndiindustries.com/index.html"> Brand</a> |
      <a href="projectdesign.html">ProjectDesign</a> |
      <a href="hobby/index.html">Hobby</a> |
      <a href = "projects/index.html">Project</a>
   </nav>
</header>