<header>
   <h1>Sashank Pyndi  | ITIS 3135 | Salty Penguin </h1>
   <nav>
      <a href = index.html > <strong> Home | </strong></a> 
      <a href = introduction.html> <strong> Introduction |</strong> </a>
      <a href = contract.html > <strong> Contract | </strong></a>
      <a href = "https://webpages.charlotte.edu/spyndi/"> <strong> UNCC Reference Page | </strong></a>
      <a href = tables.html ><strong>Tables |</strong></a>
      <a href = forms.html ><strong>Forms |</strong></a>
      <a href = website_evaluations.html><strong> Website Evaluations |</strong></a>
      <a href = CRAPPY&Webpage.htm> <strong> CRAPPY Webpage |</strong></a>
      <a href = firstjs.html> <strong>First JS |</strong></a>
      <a href = polygon.html><strong>Polygon |</strong></a>
      <a href = calculator_try.html><strong>Calculator Try |</strong></a>
      <a href=calculator_fcc.html><strong> Calculator FCC |</strong></a>
      <a href=arrays.html><strong> Array |</strong></a>
      <a href=Accessibility/Pyndi-Activity_Accessibility.html><strong>Accessibility</strong></a>

   </nav>
 </header>